<li class="list-group-item list-group-item-info">
	<div class="head col-xs-1"></div>
  <div class="col-xs-3">邀请时间：<%= feedback.invite_time %></div>
  <div class="col-xs-4">反馈状态：<%= feedback.status %></div>
  <div class="col-xs-4">经手人：<%= feedback.person_in_charge %></div>
</li>
